fastapi>=0.95.0
uvicorn[standard]>=0.20.0
pytest>=7.0
httpx>=0.24.0
pytest-asyncio>=0.21.0
SQLAlchemy>=1.4
pymysql>=1.0
aiosqlite>=0.20
alembic>=1.11
pandas>=2.2
sshtunnel>=0.4
paramiko==2.11.0
openpyxl>=3.0
python-dotenv>=1.0
